# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Caches de compilación/IDE
**/DesignTimeBuild/
**/FileContentIndex/
**/*.vsixdb
**/*.futdcache.v2

# DocumentLayout (auxiliares de VS Designer)
**/DocumentLayout*.json

*.mdf
*.ldf